.noSpace {
	font-size: 0;
}
.normalFont {
	font-size: 14px;
}
.gridContainer {
	position: relative;
	width: 800px;
	margin: 0 auto;
}
.gridCluster{
	position: relative;
	height: 200px;
	width: 200px;
	display: inline-block;
}
.gridBlock{
	position: relative;
	height: 100px;
	width: 100px;
	display: inline-block;
	vertical-align: top;
}
.blockGif{
	height: 100%;
	width: 100%;
}
.block0{
	
}
.block1{

}
.block2{

}
.block3{

}
.expandedGif{
	position: absolute;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
}
.ratingPara{
	font-size: 14px;
	position: absolute;
	padding: 0;
	margin: 0;
	background-color: white;
	bottom: 0%;
	left: 0%;
}