.noSpace {
	font-size: 0;
}
.normalFont {
	font-size: 14px;
}
.gridContainer {
	position: relative;
	width: 800px;
	margin: 0 auto;
	text-align: center;
}
.gridCluster{
	position: relative;
	height: 200px;
	width: 200px;
	display: inline-block;
}
.gridBlock{
	position: relative;
	height: 100px;
	width: 100px;
	display: inline-block;
	vertical-align: top;
}
.blockGif{
	height: 100%;
	width: 100%;
}