body {
	background-image: url(../images/api_giphy.gif);
	background-attachment: fixed;
	background-size: 100% 100%;
}
.whiteBackground{
	background-color: rgba(255,255,255,.9);
}
.greyBackground{
	background-color: rgba(255,255,255,.6);
}
.noSpace {
	font-size: 0;
}
.gridContainer {
	position: relative;
	width: 800px;
	margin: 10% auto;
}
.gridCluster{
	position: relative;
	height: 200px;
	width: 200px;
	display: inline-block;
}
.gridBlock{
	position: relative;
	height: 100px;
	width: 100px;
	display: inline-block;
	vertical-align: top;
}
.blockGif{
	height: 100%;
	width: 100%;
}
.expandedGif{
	position: absolute;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
}
.ratingPara{
	font-size: 18px;
	position: absolute;
	padding: 0;
	margin: 0;
	background-color: white;
	bottom: 0%;
	left: 0%;
}
#expandAllBlocks{
	position:fixed;
	right: 0%;
	bottom: 0%; 
	background-color: white;
	padding: 1%;
	text-align: right;
	border-radius: 100px;
}
#minimizeAllBlocks{
	position:fixed;
	left: 0%;
	bottom: 0%;
	background-color: white;
	padding: 1%;
	border-radius: 100px;
}